/* ==========================================================================
    DEFAULT THEME - LIGHT VERSION
    ========================================================================== */
/* Color codes used for the theme */
$primary-color              : #00325f; /* saphire */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ac0040; /* cardinal */
$info-color                 : #0091b5; /* cerulean */
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f4aa00; /* amber */

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #fff;
    --global-footer-bg-color            : #f2f3f3;
    --global-border-color               : #{$lighter-gray};
    --global-dark-border-color          : #bdc1c4;
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 25%);
    --global-link-color                 : #0091b5; /* cerulean */
    --global-link-color-hover           : #f4aa00; /* complementary amber */
    --global-link-color-visited         : #810262; /* plum */
    --global-masthead-link-color        : #{$dark-gray};
    --global-masthead-link-color-hover  : #c10043; /* crimson */
    --global-text-color                 : #{$dark-gray};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$lighter-gray};
}
