/* ==========================================================================
    DEFAULT THEME - DARK VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #00c4df; /* capri */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);

$background                 : #0f0f0f; /* onyx */
$background-light           : mix(#fff, $background, 80%);
$background-lighter         : mix(#fff, $background, 90%);
$text                       : #ffffff;
$link                       : #00c4df; /* capri */
$link-dark                  : #f4aa00; /* complementary amber */
$link-light                 : #58d6e7;

/* Color codes used for the site */
$danger-color               : #c10043; /* crimson */
$info-color                 : #0091b5; /* cerulean */
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f4aa00; /* amber */

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$background};
    --global-border-color               : #{$light-gray};
    --global-dark-border-color          : #{$background-light};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : #{$light-gray};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-dark};
    --global-link-color-visited         : #{$link-light};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #f4aa00;
    --global-text-color                 : #{$text};
    --global-text-color-light           : #f3f3f3;
    --global-thead-color                : #{$background-lighter};
}
